body {
  font-family: monospace;
}
ul {
  font-family: Helvetica;
}
li {
  list-style: circle;
}
.list {
  list-style: square;
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

:root {
  --white: #ffffff;
  --black: #000000;
}

* {
  color: var(--fontcolor);
  font-family: var(--fontColor);
}

body {
  background-color: var(--bg);
}

.dark-theme {
  --bg: var(--black);
  --fontcolor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

.btn {
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn {
  position: absolute;
  top: 125px;
  left: 100px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn:focus {
  outline-style: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.elipse {
  position: absolute;
  top: 80px;
  left: 141px;
  height: 40px;
  width: 15px;
  border-radius: 20px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  transition: background-color 0.5s ease;
}
